

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Coupon Club
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="../welcome">Home</a></li>
            <li><a href="http://cspubl.uvic.ca/~dev20/project2/COUPONCLUB/androidnews.html">Stores</a></li>
            <li><a href="/">Categories</a></li>
            <li><a href="http://cspubl.uvic.ca/~dev20/project2/COUPONCLUB/contact.html">Help</a></li>
            <li><a href="http://cspubl.uvic.ca/~dev20/project2/COUPONCLUB/logon.html">Logon</a></li>
        </ul>
      
    </div>
</nav>
