                        <ul id="nav">
							<li><a href="../welcome">Home</a></li>
							<li><a href="../stores">Stores</a></li>
							<li><a href="../look">Search</a></li>
							<li><a href="../contact">Help</a></li>
							<li><a href="../logon">Log&nbsp;&nbsp;&nbsp;On</a></li>
						</ul>